.TagsInput,
.TagsInput * {
  box-sizing: border-box;
}

.TagsInput__field {
  position: relative;
}

.TagsInput__input {
	display: flex;
  flex-flow: row wrap;
	width: 100%;
	min-height: 41px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.5;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
  cursor: text;
}

.TagsInput__input.is-focused {
	border-color: #66afe9;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.TagsInput__text {
  font-size: 14px;
  display: inline-block;
  outline: none;
  border: 0;
  line-height: 1.5;
  width: 0;
  background-color: transparent;
  margin: 0 0 0 5px;
  padding: 0;
}

.TagsInput__textarea {
  outline: none;
  background-color: transparent;
  display: inline-block;
  width: 100%;
  border: 0;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 600;
  resize: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.TagsInput__tag {
  display: inline-block;
  margin: 3px;
}

.TagsInput__label {
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  font-weight: bold;
  margin-bottom: 3px;
}

.TagsInput__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.TagsInput__special-btn {
  padding: 0;
  margin: 0;
  color: white;
  background-color: transparent;
  color: #A52351;
  border: 1px solid #A52351;
  padding: 2px 8px;
  border-radius: 2px;
  margin-bottom: 5px;
  position: relative;
  cursor: pointer;
  font-weight: bold;
}

.TagsInput__special-btn:hover,
.TagsInput__special-btn.is-active {
  background-color: #A52351;
  color: white;
}

.TagsInput__placeholder {
  font-size: 14px;
  color: gray;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.TagsInput__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
}
